
@import "maps.less";

@breakpointMobile: ~"(max-width:576px)";
@breakpointTablet: ~"(max-width:768px)";

.marginBottom8{
    margin-bottom: 8px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Roboto", sans-serif;

}


body{
    background-color: #colors[background-color];
    color: #colors[text-color];
}

li{
        list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media @breakpointTablet{
        max-width: 80%;
    }

    @media @breakpointMobile{
        max-width: 70%;
}

}
header{
    padding-bottom: 24px;

    .profile{
        display: block;
        margin: 0 auto 24px;
        border-radius: 50%;
        height: 150px;
        width: 150px;
    }

    
}
.profile-bio{
    text-align: center;
    &-title{
        font-size: 16px;
        .marginBottom8();
    }

    &-subtitle{
        font-size: 14px;
        .marginBottom8();
    }

    &-text{
        font-size: 12px;
        opacity: 0.7;
    }
}

.social-links{
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;

    

        img{
            transition: all ease .3s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }


.projects{
    margin-top: 32px;
    &-item{
        a{
            text-decoration: none;
            background-color: #colors[button-color];
            display: block;
            margin-bottom: 16px;
            text-align: center;
            padding: 16px 20px ;
            color: #colors[text-color];
            border-radius: 30px;
            border: 2px solid #colors[button-color];
            transition: all ease .5s;

            &:hover{
                color:  #colors[button-color];
                background-color: transparent;
            }
        }
    }
}